table{
    text-align: left;
    color: darkmagenta;
    border-collapse: collapse;
    text-size-adjust: 40px;
}
table td , table th{
 border: 1px solid black;
 padding: 10px;
 min-height: 160px;
}
img{
    width: 100px;
    height: 100px;
}
.new{
    color: blue;
    margin-right: 20%;
}